/* Note there a few "reset" styles given in reset.css. Review those before you begin */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@600&display=swap');
*, *::before, *::after {
	box-sizing: inherit;
}
html {
    box-sizing: border-box;
	--bg-col: #E0178E;    /* main colour */
	--bg-col-alt: #ED1898;    /* variant */
	--primary-on: #ffffff;     /* for text or icons */
	--bg-col-two: #700343;
	--bg-col-two-alt: #7D044A;
    --secondary-on: #000000;
    --main-col: #F1ECE6;
    --main-col-alt: #FFF9F2;
    --font-heading: 'Raleway', sans-serif;
    --font-para: 'Avenir Next', 'Nunito', sans-serif;
    --pad-and-gap: 1em;
    
	/* etc, etc... */
}

body {
    background-image: linear-gradient(var(--bg-col), var(--bg-col-two));
}

.pager-header{
    display: grid;
}

.upper-bar{
    /* width: 100%; */
    /* height: auto; */
    display: flex;
    /* border: 1px solid white; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    align-self: center;
    justify-self: flex-start;
    /* align-self: center; */
    /* border: 1px solid white; */
    /* height: 150px;
    width: 150px; */
    /* overflow: hidden; */
    /* margin-top: -20px;
    margin-bottom: -20px; */
}
.logo img {
    /* display: flow-root; */
    height: auto;
    width: 50%;

    /* height: 200px;
    width: 200px; */
    /* margin-top: -40px; */
}
.logo a {
    /* height: 80px;
    width: auto; */
    /* border:1px solid black; */
    height: auto;
    width: auto;
    /* max-width: 50%; */
    float: left;
    display: inline;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 0.5em 0 0; */
    width: auto;
    align-self: center;
    /* border: 1px solid white; */
}
.menu li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5em;
}
.menu li a {
    text-decoration: none;
}
.menu-dots{
    color: white;
}
.navigation{
    /* border: 1px solid white; */
    display: inline-block;
}
.hide{
    display: none;
}
.lower-bar{
    border: 1px solid white;
    /* width: 100%;
    height: auto; */
    min-height: 25vh;
    min-width: 25vw;
    width: auto;
    height: auto;
    background-image: url('../img/products.jpg');
    background-color: var(--bg-col-two);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-on);
    font-family: var(--font-heading);
}
.heading{
    text-transform: uppercase;
    font-size: 10vw;
    align-self: center;
}
.search{
    justify-self: flex-start;
    padding-bottom: 0.5em;
}
.products{
    background-color: var(--main-col);
    position: relative;
    padding: 0.75em;
    width: 100%;
    border: 1px solid var(--secondary-on);
    border-bottom: 1px solid var(--primary-on);
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    /* border-top: 2px solid var(--secondary-on); */
    border-bottom: 2px solid var(--secondary-on);
    padding: 0 0.5em 1em 0.5em;
}
.sub-heading{
    font-family: var(--font-heading);
    color: var(--secondary-on);
    text-transform: uppercase;
    display: inline-block;
    font-size: 7vw;
}
.product-images{
    border: 1px solid var(--secondary-on);
    height: 100%;
    width: 100%;
    display: block;
}
.price-and-rating{
    width: 100%;
    margin: 0.75em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.price{
    align-self:center;
    font-size:4vw;
    font-weight: bold;
}
.rating{
    align-self: center;
    display: flex;
    justify-content: center;
    color: goldenrod;
}
.product-text{
    text-align: center;
}
.learn-more{
    position:relative;
    display: inline-block;
}
.learn-more-button{
    height: auto;
    width: auto;
    max-height: 24vh;
    max-width: 24vw;
}
.learn-more-button-hover{
    display: none;
    position:absolute;
    top:0;
    left:0;
    height: auto;
    width: auto;
    max-height: 24vh;
    max-width: 24vw;
    z-index: 2;
}
.learn-more:hover .learn-more-button-hover{
    display: inline;
}
.page-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    /* border: 1px solid white; */
}
.social{
    align-self: center;
    /* border: 1px solid white; */
}
.footer-nav{
    align-self: center;
    /* border: 1px solid white; */
    /* justify-self: center; */
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
.legal{
    padding: 0;
    padding-top: 0.3em;
    align-self: center;
    justify-self: center;
    /* border: 1px solid white; */
}
.social, .legal{
    list-style: none;
    /* text-decoration: none; */
    /* color: var(--primary-on); */
}
.social li{
    padding: 0.5em 0 0.5em 0;
}
.legal li{
    padding: 0.75em 0 0.75em 0;
}
.social li a, .legal li a{
    text-decoration: none;
    color: var(--primary-on);
}
.copyright{
    color: var(--primary-on);
    grid-column: span 2;
    justify-self: center;
    /* border: 1px solid white; */
}
@media screen and (min-width: 40em){
    .hide{
        display: inline-block;
        margin: 0 0.25em 0 0.25em;
        text-decoration: none;
        color: var(--primary-on);
        border: 1px solid white;
    }

}
@media screen and (min-width: 70em){
    body{
        background-image: linear-gradient(var(--bg-col), var(--bg-col-two));
    }
}