/* Note there a few "reset" styles given in reset.css. Review those before you begin */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@600&display=swap');
*, *::before, *::after {
	box-sizing: inherit;
}
html {
    box-sizing: border-box;
	--bg-col: #E0178E;    
	--bg-col-alt: #ED1898;   
	--primary-on: #ffffff;     
	--bg-col-two: #700343;
	--bg-col-two-alt: #7D044A;
    --secondary-on: #000000;
    --main-col: #F1ECE6;
    --main-col-alt: #FFF9F2;
    --tertiary-col: #0BA100;
    --complementory-col: #00D1E0;
    --font-heading: 'Raleway', sans-serif;
    --font-para: 'Avenir Next', 'Nunito', sans-serif;
    --pad-and-gap: 1em;
    
}

body {
    background-image: linear-gradient(var(--bg-col), var(--bg-col-two));
    font-family: var(--font-para);
}


.upper-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    align-self: center;
    justify-self: flex-start;
}
.logo img {
    height: auto;
    width: 50%;
}
.logo a {
    height: auto;
    width: auto;
    float: left;
    display: inline;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    align-self: center;
}
.menu li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 0;
}
.menu li a {
    text-decoration: none;
}
.menu-dots-item{
    display: inline-block;
}
.menu-dropdown-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7147F;
    display: none;
}
.show{
    display: flex;
}
.menu-dropdown-content a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-heading);
    margin: 0.5em 0 0.5em 0;
    font-size: 5vw;
}
.menu-dots{
    color: white;
}
.navigation{
    display: inline-block;
}
.hide{
    display: none;
}
.lower-bar{
    border: 1px solid white;
    min-height: 25vh;
    min-width: 25vw;
    width: auto;
    height: auto;
    background-image: url('../img/products.jpg');
    background-color: var(--bg-col-two);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-on);
    font-family: var(--font-heading);
}
.heading{
    text-transform: uppercase;
    font-size: 10vw;
    align-self: center;
    font-family: var(--font-heading);
}
.searchbox label{
    display: none;
}
.search{
    justify-self: flex-start;
    padding-bottom: 0.5em;
}
input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--bg-col);
    border-radius: 2em;
    font-size: 1em;
    background-color: var(--main-col);
    background-image: url('../img/search-icon.svg');
    background-size: 4vw;
    background-position: 1.5vw 1.5vh; 
    background-repeat: no-repeat;
    padding: 0.75em 2em 0.75em 2.5em;
  }
  
.products{
    background-color: var(--main-col);
    position: relative;
    padding: 0.75em;
    width: 100%;
    border: 1px solid var(--secondary-on);
    border-bottom: 1px solid var(--primary-on);
}
.minimum-rating{
    color: var(--bg-col-two);
}
.rating-slider{
    display: inline-block;
    width: 30%;
}
input[type=range] {
    /* height: 38px; */
    -webkit-appearance: none;
    /* margin: 10px 0; */
    height: 0.5em;
    width: 100%;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 1px 1px 1px var(--bg-col);
    background: var(--bg-col-two);
    border-radius: 0.75em;
    /* border: 1px solid #000000; */
  }
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1.5em;
    background: var(--bg-col-alt);
    cursor: pointer;
    -webkit-appearance: none;
    /* margin-top: -11px; */
    margin-top: -6px;
  }

.min-rating-value {
    display: block;
    margin-top: 5px;
} 
  
.filter{
    text-align: center;
}
.filter-button{
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 30vh;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    border-bottom: 2px solid var(--secondary-on);
    padding: 0 0.5em 1em 0.5em;
}
.sub-heading{
    font-family: var(--font-heading);
    color: var(--secondary-on);
    text-transform: uppercase;
    display: inline-block;
    font-size: 7vw;
}
.product-images-container{
    position: relative;
}
.product-images{
    border: 1px solid var(--secondary-on);
    height: 100%;
    width: 100%;
    display: block;
}
.cart-and-favorite{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.index-favorite-button, .index-add-to-cart-button{
    background-color: var(--main-col);
    border: 1px solid var(--secondary-on);
    color: var(--main-col);
    color: var(--secondary-on);
    font-size: 6vw;
    text-align: center;
    padding: 0.75em 0.75em;
    border-radius: 100%;
    cursor: pointer;
}
.product-images-container:hover .product-images{
    opacity: 0.3;
}
.product-images-container:hover .cart-and-favorite{
    opacity: 1;
}
.price-and-rating{
    width: 100%;
    margin: 0.75em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.price{
    align-self:center;
    font-size:4vw;
    font-weight: bold;
}
.rating{
    align-self: center;
    display: flex;
    justify-content: center;
    color: goldenrod;
    font-size: 4vw;
}
.product-text{
    text-align: center;
}
.learn-more{
    display: inline-block;
    position:relative;
    justify-self: center;
}
.learn-more-button{
    height: auto;
    width: auto;
    max-height: 24vh;
    max-width: 24vw;
}
.learn-more-button-hover{
    display: none;
    position:absolute;
    top:0;
    left:0;
    height: auto;
    width: auto;
    max-height: 24vh;
    max-width: 24vw;
    z-index: 2;
}
.learn-more:hover .learn-more-button-hover{
    display: inline;
}
.page-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.social{
    align-self: center;
}
.footer-nav{
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.legal{
    padding: 0;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.social, .legal{
    list-style: none;
    padding-inline-start: 0;
}
.social li{
    font-size: 4.5vw;
    display: inline;
    padding: 0 0.5em 0 0.5em;
}
.legal li{
    display: inline;
    padding: 0;
    font-size: 3vw;
    align-self: center;
}
.social li a, .legal li a{
    text-align: center;
    text-decoration: none;
    color: var(--primary-on);
}
.copyright{
    color: var(--primary-on);
    justify-self: center;
    text-align: center;
    font-size: 3.5vw;
}
ins{
    text-decoration: none;
}
@media screen and (min-width: 40em){
    body{
        padding: var(--pad-and-gap);
    }
    .hide {
        display: inline-block;
        margin: 0 0.25em 0 0.25em;
    }
    .hide a{
        text-decoration: none;
        color: var(--primary-on);
    }
    .menu-dots-item{
        display: none;
    }
    .heading{
        font-size: 8vw;
    }
    .sub-heading{
        font-size: 5vw;
    }
    .product-images{
        height: auto;
        width: auto;
        max-width: 60vw;
        max-height: 60vh;
    }
    .filter-button{
        max-width: 32vw;
        max-height: 32vh;
    }
    .index-add-to-cart-button, .index-favorite-button{
        font-size: 3.75vw;
    }
    .product-text{
        font-size: 3vw;
    }
    .copyright{
        font-size: 3vw;
    }
    .legal li{
        font-size: 2.5vw;
    }
    .social li{
        font-size: 4vw;
    }
    input[type=search] {
        background-image: url('../img/search-icon.svg');
        background-size: 2vw;
        background-position: 0.55em 0.75em; 
        padding: 0.75em 2em 0.75em 2.25em;
      }

}
@media screen and (min-width: 70em){
    body{
        padding: calc(0.75em + var(--pad-and-gap));
    }
    .menu li{
        margin-left: 2.5em;
    }
    .product{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 1em;
        grid-auto-rows: 1fr;
        border-bottom: 2px solid var(--secondary-on);
    }
    .sub-heading{
        grid-column: span 2;
        justify-self: center;
        order: 1;
        font-size: 4vw;
    }
    .product-images-container{
        grid-column: 1 / 2;
        order: 2;
    }
    .product-images{
        max-width: 40vw;
        max-height: 40vw;
    }
    .price-and-rating{
        order: 4;
        margin: 0;
        justify-content: space-between;
    }
    .price{
        font-size: 1.75vw;
    }
    .rating{
        height: auto;
        width: auto;
        font-size: 1.75vw;
    }
    .product-text{
        grid-column: 2 / 3;
        order: 3;
        font-size: 2vw;
        align-self: start;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
        align-self: center;
    }
    .learn-more{
        grid-column: span 2;
        order: 5;
        margin-top: 2em;
    }
    .index-add-to-cart-button, .index-favorite-button{
        font-size: 3.5vw;
    }
    .copyright{
        font-size: 2vw;
    }
    .legal li{
        font-size: 2vw;
    }
    .social li{
        font-size: 3.5vw;
    }
    input[type=search] {
        background-image: url('../img/search-icon.svg');
        background-size: 1.5vw;
        background-position: 0.55em 0.75em; 
        padding: 0.75em 2em 0.75em 2.25em;
      }
}
@media screen and (min-width: 90em){
    .index-add-to-cart-button, .index-favorite-button{
        font-size: 3.25vw;
    }
    .copyright{
        font-size: 1.5vw;
    }
}

/* Styling for product.html */
.smart-wallet-images{
    display: grid;
    grid-column: auto auto auto;
    grid-row: auto auto;
    justify-content: center;
}
.main-image{
    grid-column: span 3;
    height: auto;
    width: 100%;
    max-height: auto;
    max-width: 87vw;
    display: block;
    justify-self: center;
    border: 3px solid var(--secondary-on);
}
.additional-images{
    height: auto;
    width: 100%;
    max-height: auto;
    max-width: 29vw;
    display: inline;
    border: 3px solid var(--secondary-on);
}
.grid-item-2{
    grid-column: 1 / 2;
}
.grid-item-3{
    grid-column: 2 / 3;
}
.grid-item-4{
    grid-column: 3 / 4;
}
.smart-wallet-description{
    margin-bottom: 1em;
    border: 1px solid var(--secondary-on);
    background-color: var(--main-col-alt);
    margin-top: 0.75em;
    padding: 0.5em;
}
.smart-wallet-description p{
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    text-align: justify;
}
.product-name{
    display: block;
    text-align: center;
}
.smart-wallet-description h2{
    display: block;
    text-align: center;
    font-size: 6vw;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.other-details{
    border: 1px solid black;
    display: flex;
    height: auto;
    width: auto;
    margin-top: 1.5em;
}
.wallet-price-and-rating{
    margin-top: 0.75em;
    display: flex;
    justify-content: space-between;
}
.wallet-price{
    align-self: flex-start;
    font-size:5vw;
    font-weight: bold;
}
.wallet-rating{
    align-self: center;
    color: goldenrod;
    font-size: 4.5vw;
}
.action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.buy-button{
    background-color: var(--tertiary-col);
    border:none;
    color: var(--main-col);
    padding: 0.25em 5em;
    display: inline-block;
    font-family: var(--font-heading);
    font-size: 2.5vw;
    line-height: 1vh;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.buy-button:hover{
    background-color: var(--main-col);
    border: 2px solid var(--tertiary-col);
    color: var(--tertiary-col);
}
.add-to-cart-button, .favorite-button{
    background-color: var(--main-col);
    border: none;
    color: var(--main-col);
    color: #4B056E;
    font-size: 5.5vw;
    text-align: center;
    padding: 0.75em 0.75em;
    border-radius: 100%;
    cursor: pointer;
}
.add-to-cart-button:hover, .favorite-button:hover{
    color: #3A0454;
}
.dropdown-container{
    display: block;
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 1em;
}
.dropbtn {
    background-color: #4B056E;
    color: var(--main-col);
    padding: 1em 28vw;
    font-size: 2.5vw;
    border: none;
    cursor: pointer;
    font-family: var(--font-heading);
    text-transform: uppercase;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    text-align: center;
    border: 1px solid black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--main-col);
    color: var(--secondary-on);
    min-width: 10em;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #3A0454;
  }
  
  .dropdown-content a:hover {background-color: var(--main-col-alt)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3A0454;
  }
  table {
    font-family: var(--font-para);
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid var(--secondary-on);
    text-align: left;
    padding: 0.5em;
  }
  
  tr:nth-child(even) {
    background-color: var(--main-col-alt);
  }
  @media screen and (min-width: 40em){
      .wallet-price-and-rating{
          justify-content: space-between;
      }
      .wallet-price{
          font-size: 4.5vw;
      }
      .wallet-rating{
          font-size: 4vw;
      }
      .add-to-cart-button, .favorite-button{
          font-size: 3.75vw;
      }
      .smart-wallet-description h2{
          font-size: 4vw;
      }
  }
  @media screen and (min-width: 62em){
      .single-product{
          display: grid;
          grid-template-columns: auto auto;
          padding: 7.5em;
          align-items: center;
      }
      .product-name{
          order: 2;
          grid-column: 2 / 3;
          min-width: 0;
          min-height: 0;
          align-self: start;
          margin: 0;
      }
      .wallet-grouped-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          order: 1;
          grid-row: span 2;
          grid-column: 1 / 2;
      }
      .smart-wallet-images{
          max-width: 45vw;
          max-height: auto;
      }
      .main-image{
          max-width: 45vw;
          max-height: auto;
      }
      .additional-images{
          max-width: 15vw;
          max-height: auto;
      }
      .wallet-price-and-rating, .action-buttons, .dropdown-container{
          max-height: 15vh;
          max-width: 45vw;
      }
      .wallet-price{
          font-size: 3.5vw;
      }
      .wallet-rating{
          font-size: 3vw;
      }
      .favorite-button, .add-to-cart-button{
          font-size: 3vw;
      }
      .buy-button{
          font-size: 2vw;
      }
      .dropdown, .dropbtn{
          max-width: 40vw;
      }
      .dropbtn{
          padding: 1em 15vw;
          font-size: 1.75vw;
      }
      .dropdown-content{
          max-width: 40vw;
      }
      .other-details{
          order: 3;
          display: inline-block;
          margin: 0;
      }
      .other-details table{
        font-size: 1.5vw;
      }
      .smart-wallet-description{
          order: 4;
          grid-column: span 2;
          margin-top: 2em;
      }
      .smart-wallet-description h2{
          font-size: 3.5vw;
      }
  }
  @media screen and (min-width: 90em){
    .wallet-price{
        font-size: 3vw;
    }
    .wallet-rating{
        font-size: 2.5vw;
    }
    .favorite-button, .add-to-cart-button{
        font-size: 2.5vw;
    }
    .buy-button{
        font-size: 1.5vw;
    }
    .dropbtn{
        font-size: 1.25vw;
    }
    .smart-wallet-description h2{
        font-size: 3vw;
    }
    .other-details table{
        font-size: 1.75vw;
      }
  }
